body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f8f8f8;
}

header {
    background-color: #ADD8E6;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

.container {
    display: flex;
}

.item {
    margin: 20px;
    padding: 20px;
    width: 33.33%;
    font-size: 25px;
}

.item2 {
    margin: 20px;
    padding: 20px;
    font-size: 22px;
    width: 33.33%;
    line-height: 230%;
    border: 2px solid #333333;
    border-radius: 8px;
}

section {
    margin-bottom: 50px;
}

#about img {
    width: 33.33%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
    height: auto;
    display: block;
    border-radius: 5%;
}


.works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.works a {
    font-size: 30px;
    color: #333333;
}

.work a:hover {
    color: #ADD8E6;
}

.work {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.work img {
    max-width: 100%;
    height: 300px;
    border-radius: 5px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

#email {
    color: #333333;
}

#email:hover {
    color: #ADD8E6;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: stretch;
        /* 左寄せ */
        padding: 0 15px;
        /* 左右余白 */
        gap: 20px;
        /* 子要素間の間隔 */
    }

    #about img {
        width: 100%;
        /* スマホでは全幅 */
        max-width: 300px;
        /* 最大幅を設定 */
        margin: 0 auto;
        /* 中央揃え */
        display: block;
        /* ブロック要素として扱う */
        border-radius: 8px;
        /* 角を丸く */
    }

    .item {
        font-size: 20px;
    }

    .item,
    .item2 {
        margin: 0 auto;
        /* 横方向の中央揃え */
        width: 100%;
        /* スマホでは全幅 */
        text-align: left;
        /* テキストを左寄せ */
        padding: 15px;
        /* 内側の余白 */
        box-sizing: border-box;
        /* パディングを含めて幅を計算 */
    }

    .works {
        display: grid;
        grid-template-columns: 1fr;
        /* 1列表示 */
        gap: 20px;
        /* 子要素間の間隔 */
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 2列表示 */
        gap: 10px;
    }
}